
@{
    ViewData["Title"] = "StudentScores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i =1;
}

@model List<QLySinhVien.ViewModel.ScoresVM>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a asp-action="Create" asp-route-testId="@ViewBag.TestID" class="btn btn-success">+ Thêm mới</a>
        <h3>@Model.FirstOrDefault()?.TestName - @Model.FirstOrDefault()?.CourseTitle</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên sinh viên</th>
                <th>Điểm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row_@item.ScoreID">
                    <td>@(i++)</td>
                    <td>@item.StudentName</td>
                    <td>@item.Marks</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ScoreID" class="btn btn-warning">Sửa</a>
                        <a data-id="@item.ScoreID" class="btn btn-danger btndelete">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
 <script>
     $(document).ready(function(){
     $('body').on('click',".btndelete",function(){
     var id=$(this).data('id');
     if(confirm("Xóa điểm kiểm tra này ")){
         $.ajax({
             url:'@Url.Action("Delete", "Scores")',
             type: 'POST',
             data:{id:id},
             success: function(res){
                 if(res.success){
                     $('#row_'+id).remove();
                     alert("Xoá thành công");
                 }else{
                     alert("Xóa thất bại");
                 }
             },
             error: function(){
                 alert("có lỗi khi xóa");
             }
         });
     }

     });
     });
 </script>
 }


