@model QLySinhVien.Models.Attendance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Thông tin chi tiết sinh viên</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                   Trạng thái
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-2">
                    Lớp
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Class.NameClass)
                </dd>
                <dt class="col-sm-2">
                   Học sinh
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Student.LastName)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model.StudentId" class="btn btn-warning">
                <i class="bi bi-pencil-square"></i> Sửa
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Quay lại danh sách
            </a>
        </div>
    </div>
</div>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.NameClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AttendanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
